WORKSPACE
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-behavior2text
nohup.out
*.gz
running_log.txt
log_root*
preprocessing/backup
preprocessing/corpus
preprocessing/jieba_dict
preprocessing/opencc-python/
preprocessing/vocab
preprocessing/vocab_before_UNK
preprocessing/all_vocab
preprocessing/nohup.out
preprocessing/*temp*
preprocessing/*test*
google_search_crawler/googleresult.json
google_search_crawler/result.json
yahoo_knowledge_data/
yahoo_log_root_1/
yahoo_log_root_2/
google_search_crawler/raw_data.json
textsum/yahoo_log_root_ver_2/
seq2seq/log/
eval_log*
train_log*
textsum/log/



temp*
data/*
toy_data/*
test
test.json
jieba_dict/



# Project stuff
entrance/settings_database.py
uwsgi.deploy.ini
db.sqlite3

# virtualenv
venv

# System stuff
[Oo]bj
[Bb]in
[Tt]emp
*.user
*.suo
*.[Cc]ache
*.bak
*.log
*.DS_Store
[Tt]est[Rr]esult*
[Tt]humbs.db
_ReSharper.*
*.resharper
Ankh.NoLoad

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# ipynb checkpoint
.ipynb_checkpoints/
